.ui.inverted.vertical.footer.segment
  .ui.container
    .ui.stackable.inverted.divided.equal.height.stackable.grid
      .three.wide.column
        h4.ui.inverted.header Navigation
        .ui.inverted.link.list
          != partial("linklist")
      .seven.wide.column
        h4.ui.inverted.header Copy
        p Copyright (c) 2015 ITCreate Club Rights Reserved.
        p Site design by kamijin.
        p Thanks　
          a(href="http://harpjs.com/") harpjs
          | 　/　
          a(href="http://semantic-ui.com/") semantic ui
