meta(charset="utf-8")
title= title
meta(name="description", content="#{ description }")
meta(name="viewport", content="width=device-width*2, initial-scale=1.0")
link(rel="stylesheet", href="/asset/semantic/semantic.min.css")
link(rel="stylesheet", href="/asset/github-markdown-css/github-markdown.css")
link(rel="stylesheet", href="/css/style.css")
script(src="/asset/jquery/jquery.min.js")
script(src="/asset/semantic/semantic.min.js")