.ui.vertical.masthead.segment.face
  .ui.container
    .ui.large.secondary.pointing.menu
      != partial("linklist")
  .ui.container.title
    h1
      | ITCreate
      br
      | Summer Camp 2015
    h2 2015/9/11-13 at Osaka Hannan