- function itemclass(name){ return "item " + (current.source==name?"active":"")}
a(class="#{itemclass('index')}" href="/") Home
a(class="#{itemclass('setup')}" href="/guidebook/setup.html") Setup
a(class="#{itemclass('move')}" href="/guidebook/move.html") Move
a(class="#{itemclass('camp')}" href="/guidebook/camp.html") Camp